* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

button {
    border: none;
    cursor: pointer;
}

a, a:visited {
    text-decoration: none;
    color: #fff;
}


header {
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 2;
}

.header-top {
    background-color: rgba(28, 209, 176, 1);
    
}

.header-top p {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}

.header-bot {
    background: rgba(0, 102, 159, 1);
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
}

.header-bot h1 {
    padding: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
}

main {
    padding: 150px 32px;
}

.cards {
    padding-left: 12%;
    /* border: 1px solid black; */
}

.card {
    /* border: 1px solid blueviolet; */
    width: 300px;
    display: inline-block;
}

.card:nth-child(2) {
    margin-inline: 32px;
}

.fa-heart {
    color:  rgba(204, 36, 36, 1);
    width: 30px;
    position: relative;
    top: 16px;
    left: 21px;
}

.card-bg-container {
    height: 193px;
    border-radius: 16px 16px 0px 0px;
}

.bg-img-1 {
    background-image: url('../img/bg-repeated.png');
}

.bg-img-2 {
    background-image: url('../img/bg-pink.png');
}

.bg-img-3 {
    background-image: url('../img/earth-bg.jpg');
}

.card-hero-img {
    position: relative;
    top: 128px;
    left: 90px;
    width: 120px;
    height: 118px;
}

.card-hero-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card-content {
    padding-inline: 16px;
    padding-top: 96px;
    background-color: rgba(243, 243, 243, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.card-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    padding-top: 12px;
    color: rgba(51, 51, 51, 1);
}

.card-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 16px 32px;
    background-color: rgba(0, 102, 159, 1);
    margin-top: 36px;
    margin-bottom: 16px;
    position:relative;
    left: 77px;
}

footer {
    width: 100vw;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 16px;
    background-color: rgba(0, 102, 159, 1);
}